.feature li::marker {
    content: "✔ ";
    color: green;
  }
  .feature li:last-child::marker {
    content: "✖ ";
    color: red;
  }

  .feature {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }